body{
    background-color: #4b4b4b;
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; 
}

h1{
    color: #000000d1;
    margin: 15px;
}

#links{
    width: 80%;
}

#links #input{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    box-shadow: 0 0 35px 0px #000000cc;
}

#links .input{
    display: flex;
    flex-direction: row;
}

#links .input button{
    width: 5%;
}

#links .input img{
    width: 20px;
}

#links input{
    padding: 10px;
    height: 40px;
    border: 1px solid #8080805c;
    font-size: 20px;
    background-color: #00000029;
    width: 95%;
}

#links #add img{
    height: 40px;
    background: #ffffff94;
}

#content #buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#content #buttons #add{
    align-self: flex-start;
}
#content #buttons #ok_cancel{
    align-self: flex-end;
}
#content #buttons #ok_cancel button{
    height: 40px;
    background: #ffffff;
}
